.gradle
/build/

# vue
/src/main/vue/node_modules/
/src/main/vue/dist/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

### IntelliJ IDEA ###
/out/
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
