<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blackboard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" th:href="@{/static/img/favicon.png}" />
    <link rel="apple-touch-icon" sizes="196x196" th:href="@{/static/img/favicon.png}">
    <style type="text/css">
        body {
            overflow: hidden;
        }

        #title {
            background-color: #1b5e20;
            position: fixed;
            top: 25px;
            right: 25px;
            z-index: 999;
            border-radius: 15px;
            padding: 10px 20px 10px 20px;
            text-align: center
        }
    </style>
</head>

<body style="margin: 0">

<div id="title">
    <p th:text="${date}" style="color: white; margin: 5px; font-size: 24pt"></p>
</div>

<th:block th:each="i : ${indexes}">
<div style="padding: 50px">
    <img id="logo" th:src="@{'/blackboard/img/' + ${i}}" style="width: 100%" alt="plan" />
</div>
</th:block>


<script th:src="@{/static/js/scroller.js}"></script>
</body>
</html>